<!DOCTYPE html>
<html>
<head>
	<title>Pump Diagnostic System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container mt-3">
		<h1>Pump Diagnostic System</h1>
		<hr>
		<form method="post" action="{{ url_for('predict') }}">
			<div class="form-group">
				<label for="query1">Mean:</label>
				<input type="text" class="form-control" id="query1" name="query1" required>
			</div>
			<div class="form-group">
				<label for="query2">Max:</label>
				<input type="text" class="form-control" id="query2" name="query2" required>
			</div>
			<div class="form-group">
				<label for="query3">Kurtosis:</label>
				<input type="text" class="form-control" id="query3" name="query3" required>
			</div>
			<div class="form-group">
				<label for="query4">Variance:</label>
				<input type="text" class="form-control" id="query4" name="query4" required>
			</div>
			<div class="form-group">
				<label for="query5">One Norm:</label>
				<input type="text" class="form-control" id="query5" name="query5" required>
			</div>
			<button type="submit" class="btn btn-primary">Predict</button>
		</form>
		<hr>
		{% if output1 %}
		<div class="alert alert-info">
			<p>{{ output1 }}</p>
			<p>{{ output2 }}</p>
		</div>
		{% endif %}
	</div>
</body>
</html>
